
body{
  background-color: #3E3E3E;
  color: #4671C4;
};

.btn{
  background-color: #4671C4;
  border-color:#4671C4;
};

.btn-success{
  background-color: #4671C4;
  border-color:#4671C4;
};

.btn:hover{
  background-color: #4671C4;
  border-color:#4671C4;
};
